@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-family: OpenSans;
  font-weight: 900;
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans;
  position: relative;
}

.header {
  width: 100%;
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  position: relative;
  margin: 0 auto;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.inner {
  max-width: 1200px;
  position: relative;
  z-index: 3;
  padding: 30px 15px 130px;
  margin: 0 auto;
  color: #fff;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 15%;
}

/* меню бургер */ /* меню бургер */ /* меню бургер */ /* меню бургер */ /* меню бургер */ /* меню бургер */ /* меню бургер */

/* input[type="checkbox"] {
  display: none;
}
nav label {    
  display: none;
  border: 1px solid #fff;   
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
}
nav label:hover{
  color: #f00;
  border: 1px solid #f00;
} */

/* меню бургер */ /* меню бургер */ /* меню бургер */ /* меню бургер */ /* меню бургер */ /* меню бургер */ /* меню бургер */

.nav-list {
  display: flex;
}

.nav-list li {
  list-style-type: none;
  margin-right: 35px;
}

.nav-list li:last-child {
  margin-right: 0px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
}
.nav-link:hover {
  text-decoration: underline;
}

.header_title {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  color: #ffffff;
  line-height: 1.6;
}

/* тренды */ /* тренды */

.trends {
  width: 100%;
  font-weight: 700;
  margin: auto;
  padding-top: 60px;
}

.trends_title {
  text-align: center;
}

.trends_title::after {
  display: block;
  content: "";
  background-color: #e1d9bd;
  width: 65px;
  height: 3px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 30px;
}

.trends_title_link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: #0f0d0e;
}

.trends_nav {
  display: flex;
  flex-wrap: wrap;
}

.trends_nav_item {
  position: relative;
  width: calc(25% - 5px);
  min-height: 320px;
  margin-right: 5px;
  background-size: cover;
}

.trends_nav_item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.trends_nav_item:last-child {
  margin-right: 0px;
}

.trends_item_image1 {
  display: flex;
  height: inherit;
  background-image: url(../images/trend1.jpg);
}

.trends_item_image2 {
  display: flex;
  height: inherit;
  background-image: url(../images/trend2.jpg);
}

.trends_item_image3 {
  display: flex;
  height: inherit;
  background-image: url(../images/trend3.jpg);
}

.trends_item_image4 {
  display: flex;
  height: inherit;
  background-image: url(../images/trend4.jpg);
}

.trends_item_content {
  z-index: 3;
  position: relative;
  width: 90%;
  align-self: flex-end;

  margin: 0 auto 15px;
  border: 3px solid #b59f5b;
  padding: 30px;
}

.trends_item_title {
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 20px;
  font-style: bold;
  line-height: 1.2;
}

.trends_item_link {
  text-decoration: none;
  color: #fff;
}

/* контент */ /* контент */

.content {
  max-width: 1200px;
  padding: 60px 15px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main {
  max-width: 780px;
}

.article-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.article-item:last-child {
  margin-bottom: 0px;
}

.article-logo {
  width: 380px;
  height: 100%;
}

.article-logo img {
  width: 100%;
}

.article-content {
  margin-left: 20px;
  width: 370px;
  height: 100%;
}

.article-list {
  display: flex;
}

.article-list li {
  margin-right: 20px;
  list-style-type: none;
}

.article-list li:last-child {
  margin-right: 0px;
}

.article-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
  font-weight: 900;
}
.article-link:hover {
  text-decoration: underline;
}

.article-title {
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 20px;
  font-style: bold;
  line-height: 1.2;
}

.article-title-link {
  text-decoration: none;
  color: #0f0d0e;
}

.article-info {
  display: flex;
}

.time_main {
  margin-right: 15px;
  color: #878787;
  font-size: 12px;
}

.article-info span {
  color: #000000;
  font-size: 12px;
  font-weight: 900;
}

.article-text-container {
  margin-top: 50px;
}

.article-text {
  font-size: 15px;
  line-height: 1.5;
  color: #0f0d0e;
}

/* aside */

.aside {
  width: 270px;
}

.aside-title {
  text-align: center;
}

.aside-title::after {
  display: block;
  content: "";
  background-color: #e1d9bd;
  width: 65px;
  height: 3px;
  margin: auto;
  margin-top: 5px;
}

.aside-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  color: #0f0d0e;
}

.aside-item {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.aside-logo {
  width: 70px;
  height: 100%;
}

.aside-logo img {
  width: 100%;
}

.aside-content {
  width: 180px;
  height: 100%;
  line-height: 1.2;
}

.time_aside {
  color: #878787;
  font-size: 12px;
}

.search {
  display: flex;
  margin: 50px 0 50px 0;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.field {
  box-sizing: border-box;
  display: inline-block;
  width: 225px;
  border: 1px solid #dadada;
  height: 50px;
  background-color: #f4f7f6;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}

.field:focus {
  border: 3px solid #9281f3;
}

.button {
  font-weight: 700;
  font-size: 14px;
  width: 50px;
  display: inline-block;
  border: 1px solid #dadada;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  cursor: pointer;
}
.button:hover {
  border: 3px solid #9281f3;
}

.send {
  margin-bottom: 45px;
}

.email {
  width: 100%;
  border: 1px solid #dadada;
  height: 50px;
  background-color: #f4f7f6;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  outline: none;
}
.email:focus {
  border: 3px solid #9281f3;
}

.subscribe {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;

  border: 1px solid #dadada;
  background-color: #b59f5b;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.subscribe:hover {
  border: 3px solid #9281f3;
}

.tags {
  margin-bottom: 55px;

  width: 100%;
}

.tags-container {
  margin-top: 20px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.tags-list li {
  border: 3px solid #ededed;
  padding: 1px 10px;
  margin-right: 10px;
  margin-top: 5px;
  list-style-type: none;
}

.tags-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 12px;
  display: block;
  font-weight: 500;
}
.tags-link:hover {
  font-weight: 700;
}

.topics {
  margin-top: 20px;
}

.topics-list li {
  font-size: 14px;
  font-weight: 900;
  list-style-type: none;
}

.topics-list li::after {
  display: block;
  content: "";
  background-color: #eeeeee;
  width: 100%;
  height: 1px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.topics-link {
  text-decoration: none;
  color: #0f0d0e;
}

.topics-link-sup {
  text-decoration: none;
}

.sup {
  vertical-align: super;
  font-size: 12px;
  margin-left: 5px;
  color: #b59f5b;
}

.our_products {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.our_products_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.our_products_item {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 30px;
}

.our_products_item:after {
  content: "";
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #b59f5b;
  z-index: 2;
}

.our_products_image {
  max-width: 300px;
  margin: 0 auto;
}

.our_products_image img {
  max-width: 100%;
}

.our_products_title {
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  margin-top: 10px;
  margin-bottom: 5px;
}

.our_products_link {
  color: #b59f5b;
  text-decoration: none;
}
.our_products_link:hover {
  text-decoration: underline;
}

.our_products_price {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_container {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.default_price {
  font-size: 14px;
  text-decoration: line-through;
}

.finish_price {
  font-size: 20px;
}

.basket {
  width: 140px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;

  border: 1px solid #dadada;
  background-color: #b59f5b;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.basket:hover {
  border: 3px solid #9281f3;
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 0 15px 40px;
  margin: 0 auto;
}

.social-div {
  background-color: #f4f7f6;
  margin-bottom: 70px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.socials {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.socials-item {
  margin-right: 10px;
}

.socials-item:last-child {
  margin-right: 0px;
}

.socials-link {
  display: block;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.socials-link-twitter {
  background-image: url(../svg/004-twitter.svg);
}

.socials-link-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.socials-link-facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.socials-link-instagram {
  background-image: url(../svg/005-instagram.svg);
}

.socials-link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.footer-info {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

.footer-info-link {
  text-decoration: none;
  color: #999999;
}

/* popup */ /* popup */

.popup {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  visibility: hidden;
}

.popup_form {
  width: 400px;
  padding: 10px 30px 50px;
  background-color: #fff;
  z-index: 3;
  position: fixed;
}

.inner_form {
  margin: 0 auto;
}

.popup_question {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 14px;
}

.popup_checkbox {
  margin-right: 15px;
  font-size: 14px;
}

.checkbox_text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;

  width: 20px;
  height: 20px;

  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.popup_radio_button:checked ~ .checkbox_text::before {
  background-image: url("../svg/form-circle.svg");
}

.popup_radio_button {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.select {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  padding-left: 15px;

  border: 1px solid #dadada;
  background-color: #f4f7f6;

  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;

  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 12px;
}
.select:focus {
  border: 3px solid #9281f3;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 10px 15px;
  margin-bottom: 20px;

  border: 1px solid #dadada;
  background-color: #f4f7f6;
  outline: none;
}
.textarea:focus {
  border: 3px solid #9281f3;
}

.popup_submit {
  width: 100%;
  height: 50px;

  border: 1px solid #dadada;
  background-color: #b59f5b;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}
.popup_submit:hover {
  border: 3px solid #9281f3;
}

.close_popup_form {
  background: none;
  border: none;
  cursor: pointer;

  position: relative;
  width: 25px;
  height: 25px;
  right: -345px;
  top: -50px;
  background-image: url(../svg/form-x.svg);
}

/* адаптив под планшеты */ /* адаптив под планшеты */ /* адаптив под планшеты */ /* адаптив под планшеты */ /* адаптив под планшеты */ /* адаптив под планшеты */ /* адаптив под планшеты */

@media (max-width: 1199px) {
  .nav-list {
    display: none;
  }

  .menu_burger {
    position: fixed;
    top: 40px;
    right: 35px;
    cursor: pointer;
  }
  .menu_burger div {
    width: 25px;
    height: 3px;
    margin-bottom: 6px;
    background-color: #fff;
    transition: background-color 1s;
  }
  .menu_burger div:last-child {
    margin-bottom: 0px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
  .trends_nav_item {
    width: calc(50% - 5px);
    margin-bottom: 5px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trends_nav_item {
    width: calc(25% - 5px);
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .article-logo {
    width: 390px;
  }

  /* .article-logo img {
    width: 100%;
  } */

  .article-content {
    margin-left: 0px;
  }

  .article-item {
    margin-bottom: 40px;
  }

  .article-item::after {
    display: block;
    content: "";
    background-color: #f4f7f6;
    width: 100%;
    height: 3px;
    margin-top: 20px;
  }

  .article-item:last-child::after {
    content: none;
  }

  .article-info {
    margin-bottom: 35px;
  }

  .header_title {
    font-size: 40px;
  }

  .trends_title_link {
    font-size: 18px;
  }

  .trends_item_title {
    font-size: 17px;
  }

  .article-item {
    flex-direction: column;
  }

  .content {
    justify-content: space-around;
  }

  .our_products_container {
    flex-wrap: wrap;
    padding: 0px 10px;
  }

  .our_products_item {
    margin-bottom: 50px;
  }

  .close_popup_form {
    width: 30px;
    height: 30px;
    right: -340px;
    top: -55px;
  }
}

/* адаптив под мобилки */ /* адаптив под мобилки */ /* адаптив под мобилки */

@media (max-width: 640px) and (orientation: portrait) {
  .trends_nav_item {
    width: 100%;
    margin-bottom: 5px;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .trends_nav_item {
    width: calc(50% - 5px);
    margin-bottom: 5px;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url("../images/banner-mobile.jpg");
  }

  .menu_burger {
    top: 30px;
    right: 15px;
  }

  .inner {
    padding: 220px 40px;
  }

  .logo {
    width: 100%;
  }

  .header_title {
    font-size: 26px;
    margin-top: 40px;
  }

  .trends {
    padding-top: 40px;
  }

  .trends_title_link {
    font-size: 16px;
  }

  .trends_item_title {
    font-size: 16px;
  }

  .trends_nav_item {
    margin-right: 0px;
  }

  .content {
    max-width: 640px;
    padding: 40px 15px;
    justify-content: center;
    flex-direction: column;
  }

  .main {
    width: 100%;
    margin: 0 auto;
  }

  .article-item {
    width: 100%;
    flex-direction: column;
    margin-bottom: 35px;
  }

  .article-item::after {
    display: block;
    content: "";
    background-color: #f4f7f6;
    width: 100%;
    height: 3px;
    margin-top: 20px;
  }

  .article-logo {
    width: 100%;
  }

  .article-logo img {
    width: 100%;
  }

  .article-content {
    width: 100%;
    margin: auto;
  }

  .article-info {
    margin-bottom: 35px;
  }

  .aside {
    width: 100%;
    padding-top: 40px;
  }

  .aside-item {
    justify-content: flex-start;
  }

  .aside-logo {
    margin-right: 20px;
  }

  .aside-content {
    width: 100%;
  }

  .field {
    width: 100%;
  }

  .button {
    width: 70px;
  }

  .send {
    margin-bottom: 30px;
  }

  .tags {
    margin-bottom: 35px;
  }

  .our_products {
    max-width: 640px;
    padding: 0px 30px;
    margin-bottom: 40px;
  }

  .our_products_container {
    flex-direction: column;
  }

  .our_products_item {
    max-width: 300px;
    margin: auto;
    margin-bottom: 50px;
  }

  .close_popup_form {
    width: 30px;
    height: 30px;
    right: -345px;
  }
}
